@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
}

#full-screen {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
  
#section-1 {
    flex: 1;
    background-image: url(images/fern.jpg);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: left;
    min-width: 300px;
    max-width: 600px;
    position: relative;
}
  
#section-2 {
    display: flex;
    flex: 2;
    background-color: aliceblue;
    position: relative;
    width: 100%;
}

/* section-1 */

#logo-con {
    position: absolute;
    top: 25%;
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;  
}

#logo-con > * {
    margin: 10px 10px;
}

#odin-text {
    color: aliceblue;
    font-family: Norse-Bold;
    font-size: 4em;
    padding-top: 20px;
}

#odin-logo {
    height: 125px;
}

/* section-2 */

#form-con {
    width: 100%;
    position: absolute;
    top: 30%;
    height: 250px;
    background-color: white;
    padding: 50px 50px;
    flex: 1 1 auto;
}

#form-arrange {
    height: 300px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.input-class {
    display: flex;
    width: 200px;
    flex-direction: column;
    margin: 10px;
    flex: 0 0 auto;
    font-family: helvetica;
    color: gray;
}

input {
    height: 1rem;

}